{
  "Module Data":
  {
    "Class Name": "Problem",
    "Namespace": ["korali"],
    "Parent Class Name": "Module"
  },
  "Internal Settings":
  [
    {
        "Name": [ "Description" ],
        "Type": "std::string",
        "Description": "Can be used to give the experiment a name/description."
    }
  ],
 "Variables Configuration":
 [
  {
   "Name": [ "Name" ],
   "Type": "std::string",
   "Description": "Defines the name of the variable."
  }
 ],
 "Module Defaults":
 {
    "Description": ""
 }
}
