{
  "Module Data":
  {
    "Class Name": "fRMSProp",
    "Namespace": ["korali"],
    "Parent Class Name": "fGradientBasedOptimizer"
  },

 "Configuration Settings":
 [
  {
   "Name": [ "Decay" ],
   "Type": "float",
   "Description": "Decay Rate."
  }
 ],

  "Internal Settings":
 [
  {
   "Name": [ "r" ],
   "Type": "std::vector<float>",
   "Description": "Second moment of Gradient."
  },
  {
   "Name": [ "v" ],
   "Type": "std::vector<float>",
   "Description": "Scaled Gradient."
  }
 ],

 "Module Defaults":
 {
  "Decay": 0.999
 }


}
