{

  "Module Data":
  {
    "Class Name": "Learning",
    "Namespace": ["korali", "problem"],
    "Parent Class Name": "Problem"
  },

 "Configuration Settings":
 [
   {
    "Name": [ "Max Timesteps" ],
    "Type": "size_t",
    "Description": "Stores the length of the sequence for recurrent neural networks."
   },
   {
    "Name": [ "Testing Batch Sizes" ],
    "Type": "std::vector<size_t>",
    "Description": "Stores the allowed Testing Batch Sizes for the testing dataset."
   },
   {
    "Name": [ "Testing Batch Size" ],
    "Type": "size_t",
    "Description": "Stores the batch size of the testing dataset."
   },
   {
    "Name": [ "Input", "Data" ],
    "Type": "std::vector<std::vector<std::vector<float>>>",
    "Description": "Provides the input data with layout N*T*IC, where N is the sample size, T is the sequence length and IC is the vector size of the input."
   },
   {
    "Name": [ "Input", "Size" ],
    "Type": "size_t",
    "Description": "Indicates the vector size of the input (IC)."
   }
 ],
 "Compatible Solvers": [ "Learner/DeepSupervisor", "Learner/Gaussian Process" ],
 "Internal Settings":
 [

 ],
 "Module Defaults":
 {
   "Max Timesteps": 1,
   "Input": {
        "Data": [ ]
   },
   "Testing Batch Sizes": [],
   "Testing Batch Size": 0
 }
}
