{
  "Module Data":
  {
    "Class Name": "Deconvolution",
    "Namespace": ["korali", "neuralNetwork", "layer"],
    "Parent Class Name": "Layer"
  },

 "Configuration Settings":
 [
   {
    "Name": [ "Image Height" ],
    "Type": "ssize_t",
    "Description": "Height of the incoming 2D image."
   },
   {
    "Name": [ "Image Width" ],
    "Type": "ssize_t",
    "Description": "Width of the incoming 2D image."
   },
   {
    "Name": [ "Kernel Size" ],
    "Type": "ssize_t",
    "Description": "Height/Width of the 2D filter."
   },
   {
    "Name": [ "Kernel Height" ],
    "Type": "ssize_t",
    "Description": "Height of the 2D filter."
   },
   {
    "Name": [ "Kernel Width" ],
    "Type": "ssize_t",
    "Description": "Width of the 2D filter."
   },
   {
    "Name": [ "Vertical Stride" ],
    "Type": "ssize_t",
    "Description": "Strides for the image on the vertical dimension."
   },
   {
    "Name": [ "Horizontal Stride" ],
    "Type": "ssize_t",
    "Description": "Strides for the image on the horizontal dimension."
   },
   {
    "Name": [ "Stride Size" ],
    "Type": "ssize_t",
    "Description": "Strides for the image on the vertical/horizontal dimension."
   },
   {
    "Name": [ "Padding Left" ],
    "Type": "ssize_t",
    "Description": "Paddings for the image left side."
   },
   {
    "Name": [ "Padding Right" ],
    "Type": "ssize_t",
    "Description": "Paddings for the image right side."
   },
   {
    "Name": [ "Padding Top" ],
    "Type": "ssize_t",
    "Description": "Paddings for the image top side."
   },
   {
    "Name": [ "Padding Bottom" ],
    "Type": "ssize_t",
    "Description": "Paddings for the image Bottom side."
   },
   {
    "Name": [ "Padding Vertical" ],
    "Type": "ssize_t",
    "Description": "Paddings for the image Top and Bottom side."
   },
   {
    "Name": [ "Padding Horizontal" ],
    "Type": "ssize_t",
    "Description": "Paddings for the image left and right side."
   },
   {
    "Name": [ "Padding Size" ],
    "Type": "ssize_t",
    "Description": "Paddings for the image Bottom side."
   },
   {
    "Name": [ "Filters" ],
    "Type": "ssize_t",
    "Description": "If specified 'Ouput Channels is calculated automatically"
   }
 ],

  "Internal Settings":
 [
 
 ],
 "Module Defaults":
 {
    "Image Height": -1,
    "Image Width": -1,
    "Kernel Size": -1,
    "Kernel Width": -1,
    "Kernel Height": -1,
    "Padding Top": -1,
    "Padding Bottom": -1,
    "Padding Left": -1,
    "Padding Right": -1,
    "Padding Vertical": -1,
    "Padding Horizontal": -1,
    "Padding Size": 0,
    "Vertical Stride": -1,
    "Horizontal Stride": -1,
    "Stride Size": 1,
    "Filters": -1
 }
}
