{
  "Module Data":
  {
    "Class Name": "fAdaBelief",
    "Namespace": ["korali", "solver", "learner", "optimizer"],
    "Parent Class Name": "fAdam"
  },

 "Configuration Settings":
 [

 ],
 "Internal Settings":
 [
  {
     "Name": [ "Second Central Moment" ],
     "Type": "std::vector<double>",
     "Description": "Second central moment."
  }
 ],

 "Module Defaults":
 {
 }
}
