{
  "Module Data":
  {
    "Class Name": "fSGD",
    "Namespace": ["korali"],
    "Parent Class Name": "fGradientBasedOptimizer"
  },

 "Configuration Settings":
 [
  {
   "Name": [ "Clipping Threshold" ],
   "Type": "float",
   "Description": "Term above which the gradients are clipped."
  }
 ],

 "Module Defaults":
 {
 }


}
