{
  "Module Data":
  {
    "Class Name": "fRMSProp",
    "Namespace": ["korali", "solver", "learner", "optimizer"],
    "Parent Class Name": "FastGradientBasedOptimizer"
  },

 "Configuration Settings":
 [
  {
   "Name": [ "Epsilon" ],
   "Type": "float",
   "Description": "Term to guard agains numerical instability."
  }
 ],
 "Internal Settings":
 [
  {
     "Name": [ "r" ],
     "Type": "std::vector<float>",
     "Description": "Square gradient contribution."
  },
  {
     "Name": [ "v" ],
     "Type": "std::vector<float>",
     "Description": "Update rule."
  },
  {
     "Name": [ "Smoothing" ],
     "Type": "float",
     "Description": "Smoothing term between next squared grad and previous v contribution."
  }
 ],

 "Module Defaults":
 {
   "Epsilon": 0.00000001,
   "Eta": 0.001,
   "Smoothing": 0.999
 }
}
