{

  "Module Data":
  {
    "Class Name": "UnsupervisedLearning",
    "Namespace": ["korali", "problem", "learning"],
    "Parent Class Name": "Learning"
  },

 "Configuration Settings":
 [
 ],

 "Compatible Solvers": [ "Learner/DeepSupervisor", "Learner/Gaussian Process" ],

 "Internal Settings":
 [

 ],
 "Module Defaults":
 {
 }
}
